
  <div class="container">
  <h1>Update your puppy's info</h1>
    <div>
      <%= link_to dogs_path, class:"orange-back-link" do %>
      <i class="fa-solid fa-arrow-left"></i> My pups
      <% end %>
    </div>
    <br>
  <div class="parent container d-flex flex-column align-items-center h-100">
    <%= simple_form_for @dog do |dog| %>
      <%= dog.error_notification %>

      <div class="form-inputs">
        <%= dog.input :name %>
        <%= dog.input :breed %>
        <%= dog.input :date_of_birth %>
        <%= dog.input :weight %>
        <%= dog.input :condition %>
        <%= dog.input :medication %>

      </div>

      <div class="form-actions" >
        <p><%= dog.submit "Update", class: 'dgreen-button' do%></p>
        <% end %>
      </div>
    <% end %>

  <br>
  <br>
  <hr>
    <p>
        <%= link_to dog_path(@dog),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
          class:"remove-pup-button" do %>
            <i class="fa-solid fa-xmark"></i>  <i class="fa-solid fa-dog"></i>
        <% end %>
    </p>
  </div>
</div>
