
<div class="parent container d-flex flex-column align-items-center h-100">
  <h1>Update your puppy's info</h1>
  <%= simple_form_for @dog do |dog| %>
    <%= dog.error_notification %>

    <div class="form-inputs">
      <%= dog.input :name %>
      <%= dog.input :breed %>
      <%= dog.input :date_of_birth %>
      <%= dog.input :weight %>
      <%= dog.input :condition %>
      <%= dog.input :medication %>

    </div>

    <div class="form-actions" id="nav-btn">
      <p><%= dog.submit "Update", class: 'update-button'%></p>
      <p><%= link_to 'Back', dogs_path, class:'back-link' %></p>
    </div>
  <% end %>
<hr>
</div>
