
<div class="parent container d-flex flex-column align-items-center h-100">
  <h1>Update your puppy's info</h1>
  <%= simple_form_for @dog do |dog| %>
    <%= dog.error_notification %>

    <div class="form-inputs">
      <%= dog.input :name %>
      <%= dog.input :breed %>
      <%= dog.input :date_of_birth %>
      <%= dog.input :weight %>
      <%= dog.input :condition %>
      <%= dog.input :medication %>

    </div>

    <div class="form-actions" id="nav-btn">
      <p><%= dog.submit "Update", class: 'dgreen-button'%></p>
      <%= link_to dogs_path, class:"orange-back-link" do %>
      <i class="fa-solid fa-arrow-left"></i> My pups
    <% end %>
    </div>
  <% end %>

</div>
