<div class="container">
<h1>My puppies</h1>
  <% @dogs.each do |dog| %>
  <div class="card-container">
    <div class="card-body-details dog-card-center">
    <% if dog.photo.attached? %>
        <%= cl_image_tag dog.photo.key, gravity: "auto", crop: "fill", alt: "#{dog.name}", class:'img-square'%>
        <% else %>
        <%= image_tag "dog_placeholder", class:"img-square" %>
    <% end %>
      <div class="dog-name-link">
      <br>
        <h4><%= link_to dog.name, dog_path(dog), class:"orange-back-link"%></h4>
        <p class="card-text"><span class="detail-key"><i class="fa-solid fa-paw"></i> : </span> <%= dog.breed %></p>
      </div>
    </div>

  </div>
  <% end %>
  <br>
  <div id="add-pup">
    <%= link_to new_dog_path, class:"dgreen-button pup-button" do %>
    <i class="fa-solid fa-plus"></i>  <i class="fa-solid fa-dog" style="color: #9d520e;"></i>
  <% end %>
  </div>
</div>
