<h1> <%= @dog.name %>'s details</h1>
<div class="card">
  <p>Breed: <%= @dog.breed %></p>
  <p>Date of birth: <%= @dog.date_of_birth %></p>
  <p>Pre-existing condition:<%= @dog.condition %></p>
  <p>Medication: <%= @dog.medication %></p>
  <p>Weight: <%= @dog.weight %></p>


</div>

<p><%= link_to "Update my pup's info", edit_dog_path %></p>
<p><%= link_to "Remove dog",
   dog_path(@dog),
   data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%></p>
<p><%= link_to 'Back', dogs_path %></p>
