<div class="container">
  <h1> <%= @dog.name %>'s details</h1>
<!--  back links-->
<!--  back link for owners-->
  <% if current_user.id == @dog.user.id  %>
    <%= link_to dogs_path, class:"orange-back-link" do %>
      <i class="fa-solid fa-arrow-left"></i> My pups
    <% end %>
  <% else %>
<!--  back link for vets-->
    <%= link_to users_path, class:"orange-back-link" do %>
      <i class="fa-solid fa-arrow-left"></i> My pup patients
    <% end %>
  <% end %>

<!--  start of dog card-->
  <div class="card-container">
    <div class="dog-show-img-center">
      <% if @dog.photo.attached? %>
      <%= cl_image_tag @dog.photo.key, gravity: "auto", crop: "fill", alt: "#{@dog.name}", class:'img-square'%>
      <% else %>
      <%= image_tag "dog_placeholder.png", class:"img-square" %>
    <% end %>
    </div>
    <br>
  <h5 class="green-title"><span class="dog-name"><strong><%= @dog.name%></strong></span> </h5>
      <div class="card-body-details">
<!--start of tab section-->
<!--tab nav bar-->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item dog-logs-tab" role="presentation">
            <button class="nav-link active" id="dog-logs-tab" data-bs-toggle="tab" data-bs-target="#dog-logs-tab-pane" type="button" role="tab" aria-controls="dog-logs-tab-pane" aria-selected="true">Logs</button>
          </li>
          <li class="nav-item dog-profile-tab" role="presentation">
            <button class="nav-link" id="dog-profile-tab" data-bs-toggle="tab" data-bs-target="#dog-profile-tab-pane" type="button" role="tab" aria-controls="dog-profile-tab-pane" aria-selected="true">Profile</button>
          </li>
          <li class="nav-item dog-prescriptions-tab" role="presentation">
            <button class="nav-link" id="prescriptions-tab" data-bs-toggle="tab" data-bs-target="#prescriptions-tab-pane" type="button" role="tab" aria-controls="prescriptions-tab-pane" aria-selected="false">Prescriptions</button>
          </li>
        </ul>
<!--tab content-->
        <div class="tab-content" id="myTabContent">
<!--dog-logs tab content-->
          <div class="tab-pane fade show active" id="dog-logs-tab-pane" role="tabpanel" aria-labelledby="dog-logs-tab" tabindex="0">
            <div class="dog-log-info">
              <h6> <%= link_to dog_logs_path(@dog), class:"orange-back-link" do %>
                  See all logs
                <% end %> </h6>
                <% if current_user.id == @dog.user.id %>
                  <%= render "owner_show" %> <!-- this is the partial for the owner -->
                <% end %>
            </div>
          </div>
<!--dog-profile tab content-->
          <div class="tab-pane fade " id="dog-profile-tab-pane" role="tabpanel" aria-labelledby="dog-profile-tab" tabindex="1">
          <div class="dog-edit-profile">
            <% if current_user.id == @dog.user.id %>
              <p><%= link_to edit_dog_path, class:"orange-back-link" do%></p>
                <i class="fa-solid fa-pen-to-square"></i> Edit profile
              <% end %>
            <% end %>
          </div>
            <div class="pup-info">
              <div class="pup-info-details">
              <p class="card-text"><span class="detail-key"><i class="fa-solid fa-paw"></i> : </span> <%= @dog.breed %></p>
              <p class="card-text"><span class="detail-key"><i class="fa-solid fa-cake-candles"></i> : </span> <%= @dog.date_of_birth.strftime('%m/%d/%Y') %></p>
              <p class="card-text"><span class="detail-key"><i class="fa-solid fa-weight-scale"></i> : </span> <%= @dog.weight %> kg</p>
              </div>
              <div class="pup-health-details">
                <p class="card-text"><span class="detail-key"><i class="fa-solid fa-bandage"></i> : </span><%= @dog.condition %></p>
                <p class="card-text"><span class="detail-key"><i class="fa-solid fa-pills"></i> : </span><%= @dog.medication %></p>
                <p class="card-text"><span class="detail-key"><i class="fa-solid fa-user-doctor"></i></i> : </span>
                  <% if @dog.vet_dogs.empty? %>
                    <span>
                    <%= link_to users_path, class:"orange-back-link pup-button" do %>
                    <i class="fa-solid fa-plus"></i> <i class="fa-solid fa-stethoscope"></i> Choose vet
                    <% end %>
                    </span>
                  <% elsif @pending.present? %>
                    <% @pending.each do |vet| %>
                        <%= link_to user_path(vet), class:"vet-name-yellow" do %>
                          <%= vet.user.first_name %> (pending accept)
                        <% end %>
                      <% end %>
                  <% else %>
                    <% @accepted.each do |vet| %>
                      <% if current_user.is_vet %>
    <!--                  add a condition if vet is looking at their own profile-->
                        <%= link_to vet.user.first_name, user_path(current_user, showmyself: true), class:"vet-name-yellow" %>
                        <% else %>
                        <%= link_to vet.user.first_name, user_path(vet.user), class:"vet-name-yellow" %>
                        <% end %>
                      <% end %>
                  <% end %>
                </p>
                </div>
              </div>
          </div>
          <div class="tab-pane fade" id="prescriptions-tab-pane" role="tabpanel" aria-labelledby="prescriptions-tab" tabindex="2">
            <div class="dog-prescription-container">
            <div class="dog-see-prescription-link">
              <%= link_to dog_prescriptions_path(@dog), class:"orange-back-link" do %>
                  See all prescriptions
              <% end %>
            </div>

              <% @prescriptions.each do |prescription| %>
              <div class="dog-prescription-status-flex">
                  <p><i class="fa-solid fa-pills" style="color: #49822A;"></i> <%= prescription.medication_name %> </p>

                  <p>Status:
                  <% if prescription.completed? %>
                    <%= 'completed' %>
                  <% else %>
                    <%='ongoing' %>
                  <% end %>
                  </p>
              </div>
              <% end %>
            </div>
              <% if current_user.is_vet %>
              <%= render "vet_show" %>
              <% end %>
            </div>
          </div>
<!--end of tab section-->
        </div>



      </div>
  </div>
</div>
