<div class="container">
  <h1> <%= @dog.name %>'s details</h1>
  <% if current_user.id == @dog.user.id  %>
    <%= link_to dogs_path, class:"green-back-link" do %>
      <i class="fa-solid fa-arrow-left"></i> My pups
    <% end %>
  <% else %>
    <%= link_to users_path, class:"green-back-link" do %>
      <i class="fa-solid fa-arrow-left"></i> My pup patients
    <% end %>
  <% end %>
  <div class="card-container">
  <div class="dog-show-img-center">
    <%= cl_image_tag @dog.photo.key, gravity: "auto", crop: "fill", alt: "#{@dog.name}", class:'img-square'%>
  </div>
    <br>
    <h5 class="dblue-title"><span class="dog-name"><strong><%= @dog.name%></strong></span> </h5>
      <div class="card-body-details">
      <div class="pup-info">
          <div class="pup-info-details">
          <p class="card-text"><span class="detail-key"><i class="fa-solid fa-paw"></i> : </span> <%= @dog.breed %></p>
          <p class="card-text"><span class="detail-key"><i class="fa-solid fa-cake-candles"></i> : </span> <%= @dog.date_of_birth.strftime('%m/%d/%Y') %></p>
          <p class="card-text"><span class="detail-key"><i class="fa-solid fa-weight-scale"></i> : </span> <%= @dog.weight %></p>
          </div>
          <div class="pup-health-details">
            <p class="card-text"><span class="detail-key"><i class="fa-solid fa-bandage"></i> : </span><%= @dog.condition %></p>
            <p class="card-text"><span class="detail-key"><i class="fa-solid fa-pills"></i> : </span><%= @dog.medication %></p>
            <p class="card-text"><span class="detail-key"><i class="fa-solid fa-user-doctor"></i></i> : </span>
              <% if @dog.vet_dogs.empty? %>
                <span>
                <%= link_to users_path, class:"yellow-back-link pup-button" do %>
                <i class="fa-solid fa-plus"></i> <i class="fa-solid fa-stethoscope"></i> Choose vet
                <% end %>
                </span>
              <%# elsif %>
                <%# @pending.each do |vet| %>
                    <%#= link_to user_path(vet_dog.user), class:"vet-name-yellow" do %>
<!--                      Request sent to <%#= vet.user.first_name %>-->
                    <%# end %>
                  <%# end %>
              <% else %>
                <% @dog.vet_dogs.each do |vet_dog| %>
                    <%= link_to vet_dog.user.first_name, user_path(vet_dog.user), class:"vet-name-yellow" %>
                  <% end %>
              <% end %>
            </p>
          </div>
        </div>
        <br>
      </div>
    <% if current_user.id == @dog.user.id %>
      <%= render "owner_show" %>
    <% end %>
      </div>
  </div>
</div>
