<div class="container">
<% if current_user.is_vet %>
  <div>
      <%= link_to dog_prescriptions_path(@dog), class:"orange-back-link" do %>
      <i class="fa-solid fa-arrow-left"></i> Prescriptions
      <% end %>
  </div>
  <br>
    <div class="parent d-flex flex-column align-items-center h-100">
      <h2 class="green-title">New prescription for <%= @dog.name %></h2>
      <%= simple_form_for [@dog, @prescription] do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :medication_name %>
          <%= f.input :description %>
          <%= f.input :start_date %>
          <%= f.input :end_date%>
          <%= f.input :dosage %>
          <%= f.input :number_of_times_per_day %>
          <%= f.input :time_of_day %>
          <%= f.input :completed %>
        </div>

        <div class="form-actions" id="nav-btn">
          <p><%= f.submit "Add prescription", class: 'dgreen-button'%></p>
        </div>
      <% end %>
      <hr>
    </div>
  <% end %>
  </div>
</div>
