<div class="container">
<h1>Select your vet</h1>

<!--<div>-->
    <%#= link_to root_path, class:"orange-back-link" do %>
<!--      <i class="fa-solid fa-arrow-left"></i> Home-->
    <%# end %>
<!--  </div>-->
  <div class="row">
  <% @vets.each do |vet| %>
      <div class="col-sm-6 col-md-4 col-lg-3 mt-3 vet-owner-cards">
        <div class="card-container vets-cards-links">
          <%= link_to user_path(vet)do %>
            <div class="title-flexbox">
              <div class="green-title card-nav-title">
                <h3 >Dr. <%= vet.first_name%> <%= vet.last_name %></h3>
              </div>
              <div class="card-nav-img img-rounded">
                <% if vet.photo.attached? %>
                  <%= cl_image_tag vet.photo.key, gravity: "auto", crop: "fill", alt: "#{vet.first_name}", class:'img-rounded'%>
                <% else %>
                  <%= image_tag "profile_placeholder", class:"img-rounded" %>
              <% end %>
              </div>
            </div>
            <div class="card-body-details vet-info-flexbox">
              <div class="vet-info-flex-item">
                <p class="card-body-text"><span class="detail-key"><i class="fa-solid fa-house-user"></i> : </span><%= vet.address %></p>
                <p class="card-body-text"><span class="detail-key"><i class="fa-solid fa-phone"></i> : </span> <%= vet.mobile_number %></p>
              </div>
              <div class="vet-info-flex-item">
                <p class="card-body-text"><span class="detail-key"><i class="fa-solid fa-door-open"></i> : </span> <%= vet.opening_time.strftime('%I:%M:%S %p') %> </p>
                <p class="card-body-text"><span class="detail-key"><i class="fa-solid fa-door-closed"></i> : </span> <%= vet.closing_time.strftime('%I:%M:%S %p') %> </p>
              </div>
            </div>

  <br>
        </div>
          <% end %>
      </div>
    <% end %>
  </div>
</div>
