<h1>Select your vet</h1>
<div class="row">
<% @vets.each do |vet| %>
    <div class="col col-md-4 mt-3 mb-3">
      <div class="card">
        <img src="" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="d-flex justify-content-between mb-3">
            <div>
              <h5 class="card-title">DR. <%= vet.first_name%> <%= vet.last_name %></h5>
              <p class="card-text">Cabinet Address: <%= vet.address %></p>
              <p class="card-text">Cabinet Address: <%= vet.mobile_number %></p>
              <p class="card-text">Opening Time: <%= vet.opening_time %> </p>
              <p class="card-text">Closing Time: <%= vet.closing_time %> </p>
            </div>
          </div>

          <div class="d-flex justify-content-between" >
            <div>
            <%# link to vet profile %>
            </div>
            <div>
            <%# link to home page %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
