<%= stylesheet_link_tag("vet_details")%>

<h1> Dr.<%= @user.last_name %>'s details</h1>
    <div class="col mt-3 mb-3">
      <div class="card">
        <div class="card-body">

            <div class='vet-info'>
              <div id="vet-pic-container">
                <%= cl_image_tag @user.photo.key, height: 500, width: 500, gravity: "auto", crop: "fill", alt: "#{@user.first_name}", id: 'vet-pic', class:'avatar'%>
              </div>
              <br>
              <h5 class="card-title"><strong><%= @user.first_name %> <%= @user.last_name %></strong> </h5>
              <div class="vet-info-details">
                <p class="card-text"><span class="detail-key">Address:</span> <%= @user.address %></p>
                <p class="card-text"><span class="detail-key">Mobile number:</span> <%= @user.mobile_number %> </p>
                <p class="card-text"> <span class="detail-key">Opening time:</span> <%= @user.opening_time.strftime('%I:%M:%S %p') %> </p>
                <p class="card-text"> <span class="detail-key">Closing time:</span> <%= @user.closing_time.strftime('%I:%M:%S %p') %> </p>
              </div>
            </div>
            <hr>

            <div class="dog-form">
            <%#= link_to 'Select vet', user_vet_dogs_path(@dog) %>
            <%= simple_form_for [@user, @vet_dog] do |f| %>
              <%= f.error_notification %>
              <div class="form-inputs">
                <%= f.association :dog, :label => "Please select dog:", collection: current_user.dogs%>
              </div>
              <div class="form-actions" id="nav-btn">
                <p><%= f.submit "Book vet", id: 'book-button'%></p>
              </div>
            <% end %>
            </div>

            <%= link_to 'Back to all vets', users_path, class:'back-link' %>
        </div>
      </div>
    </div>
