  <div class="home-container">
      <div class="home-options">
      <h2>Pet owners</h2>
        <div class="walk-section">
          <h6>Take your dog out for a walk!</h6>
          <div class="fancy-walk">
            <%= image_tag "walk-map", class:"walk-img-map" %>
            <%= image_tag "arrow_green.PNG", class:"arrow-green" %>
          </div>
            <div class="walk-icon">
              <%= image_tag "walking.PNG" %>
            </div>
        </div>
<br>
        <%= image_tag "arrow_yellow.PNG", class:"arrow-yellow" %>
        <div class="health-options">
          <h6>Keep on top of your dog's health</h6>
          <div class="chat-icon">
              <ul id="home-tracking-list">
                <li><%= image_tag "mood_happy.PNG", class:"home-track-icons" %></li>
                <li><%= image_tag "grooming_brushing.PNG", class:"home-track-icons" %></li>
                <li><%= image_tag "training_agility.PNG", class:"home-track-icons" %></li>
                <li><%= image_tag "food_kibble.PNG", class:"home-track-icons" %></li>
            </div>
            </div>
            <div class="arrow-blue-container">
            <%= image_tag "arrow_blue.PNG", class:"arrow-blue" %>
            </div>
<br>
        <div class="chat-options">
          <h6>Ask any questions to our chatbot</h6>
          <div class="chat-icon">
              <%= image_tag "chat.svg", class:"chat-img" %>
          </div>
        </div>
      <h2>Vets</h2>
        <div class="vet-landing">
          <h6>Check on your puppies</h6>
          <h6>See your pending client requests</h6>
        </div>
      </div>
  </div>
