  <div class="home-container">
    <h1>Hi <%= current_user.first_name %>...</h1>
      <div class="home-options">
        <div class="walk-section">
          <h6>Fancy a walk?</h6>
          <div class="fancy-walk">
            <%= link_to walks_path do %>
              <%= image_tag "walk-map.png", class:"walk-img-map" %>
            <% end %>
            <%= image_tag "arrow_green.PNG", class:"arrow-green" %>
          </div>
            <div class="walk-icon">
              <%= image_tag "walking.PNG" %>
            </div>
        </div>
<br>
        <%= image_tag "arrow_yellow.PNG", class:"arrow-yellow" %>
        <div class="health-options">
          <h6>Keep on top of your dog's health</h6>
          <div class="chat-icon">
            <%= link_to dogs_path do %>
              <ul id="home-tracking-list">
                <li><%= image_tag "mood_happy.PNG", class:"home-track-icons" %></li>
                <li><%= image_tag "grooming_brushing.PNG", class:"home-track-icons" %></li>
                <li><%= image_tag "training_agility.PNG", class:"home-track-icons" %></li>
                <li><%= image_tag "food_kibble.PNG", class:"home-track-icons" %></li>
            <% end %>
            </div>
            </div>
            <div class="arrow-blue-container">
            <%= image_tag "arrow_blue.PNG", class:"arrow-blue" %>
            </div>
<br>
        <div class="chat-options">
          <h6>Ask any questions to our chatbot</h6>
          <div class="chat-icon">
            <%= link_to chats_path do %>
              <%= image_tag "chat.svg", class:"chat-img" %>
            <% end %>
          </div>
        </div>
      </div>
  </div>
