  <div class="home-container">
    <h1>Hi <%= current_user.first_name %></h1>
      <div class="home-options">
        <div class="walk-section">
          <h6>Fancy a walk?</h6>
          <div class="fancy-walk">
            <%= link_to walks_path do %>
              <%= image_tag "walk-map", class:"walk-img-map" %>
            <% end %>
            <div class="walk-icon">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
              <img src="https://cdn.vectorstock.com/i/1000x1000/56/37/people-walking-dog-in-nature-vector-34895637.webp" alt="walking">
            </div>
          </div>
        </div>
<br>
        <div class="health-options">
          <h6>Keep on top of your dog's health</h6>
          <div class="chat-icon">
            <%= link_to dogs_path do %>
              <ul id="home-tracking-list">
                <li><%= image_tag "/energy_ok", class:"home-track-icons" %></li>
                <li><%= image_tag "/medication_painkillers", class:"home-track-icons" %></li>
                <li><%= image_tag "/grooming_brushing", class:"home-track-icons" %></li>
                <li><%= image_tag "/training_agility", class:"home-track-icons" %></li>
                <li><%= image_tag "/food_kibble", class:"home-track-icons" %></li>
                <li><%= image_tag "/treat_rawhide", class:"home-track-icons" %></li>
            <% end %>
          </div>
        </div>
<br>
        <div class="chat-options">
          <h6>Ask any questions to our chatbot</h6>
          <div class="chat-icon">
            <%= link_to walks_path do %>
              <%= image_tag "chat.svg", class:"walk-img-map" %>
            <% end %>
          </div>
        </div>
      </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

  </div>
