<div class="nav-bar">

<% if walk %>
  <div class="flexbox"><p id="walkId">Walk ID:<%= walk.id %> </p>
  <p id="startTime">Start Time:<%= walk.start_time.strftime('%H:%M:%S') %> </p>
  <p id="endTime">End Time:<%= walk.end_time.strftime('%H:%M:%S')%> </p>
  <p id="distance">Distance:<%= walk.distance %> </p>
  <p id="pace">Pace:<%= walk.pace %> </p></div>
<% else %>
<p> Take your dog on their first walk!</p>
<% end %>
    </div>
