<div class="parent container d-flex flex-column h-100">
  <h1><%= @dog.name %>'s log</h1>
    <div>
    <%= link_to dog_path(@dog), class:"orange-back-link" do %>
      <i class="fa-solid fa-arrow-left"></i> <%= @dog.name %>
    <% end %>
    </div>

  <% if current_user.id == @dog.user.id %>
    <%= render "owner_add_log" %> <!-- this is the partial for the owner -->
    <br>
  <% end %>

  <% @logs.each do |log| %>
    <div class="container card d-flex flex-column h-100 log-card-container">
      <div class="row row-cols-1">
        <div class="row row-cols-2">
          <div class="col-6">
            <p class="card-text log-date">
              <span class="log-detail-key">
                <i class="fa-solid fa-calendar-days"></i>
              </span>
              : <%= log.created_at.strftime("%d-%m-%Y") %>
            </p>
          </div>
          <div class="row row-cols-3 d-flex justify-content-end">
            <div class="col-1">
              <%= link_to dog_log_path(:dog_id=>log.dog_id, :id => log.id) do %>
                <span class="log-detail-key-view">
                  <i class="fa-solid fa-eye"></i>
                </span>
              <% end %>
            </div>
            <div class="col-1">
              <%= link_to edit_dog_log_path(:dog_id=>log.dog_id, :id => log.id) do %>
              <span class="log-detail-key-edit">
                <i class="fa-solid fa-pen"></i>
              </span>
              <% end %>
            </div>
            <div class="col-1">
              <%= link_to dog_log_path(:dog_id=>log.dog_id, :id => log.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
              <span class="log-detail-key-destroy">
                <i class="fa-solid fa-trash"></i>
              </span>
              <% end %>
            </div>
          </div>
        </div>

          <div class="row">
            <div class="col">
              <p class="card-text"> <span class="log-detail-key"> <i class="fa-solid fa-bowl-food"></i> </span> : <%= log.food.join(", ") %> </p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="card-text"> <span class="log-detail-key"> <i class="fa-solid fa-pills"></i> </span> : <%= log.medication.join(", ") %> </p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="card-text"> <span class="log-detail-key"> <i class="fa-solid fa-bone"></i> </span> : <%= log.special_treat.join(", ") %> </p>
            </div>
          </div>
          <div class="row">
            <div class="col">
            <p class="card-text"> <span class="log-detail-key"> <i class="fa-solid fa-face-smile"></i> </span> : <%= log.mood.join(", ") %> </p>
            </div>
          </div>


      </div>
    </div>
  <% end %>
</div>
