<div class="parent container d-flex flex-column h-100">

  <h1>Add a new log for <%= @dog.name %></h1>

  <div>
    <%= link_to dog_path(@dog), class:"orange-back-link" do %>
      <i class="fa-solid fa-arrow-left"></i> <%= @dog.name %>
    <% end %>
  </div>

  <%= simple_form_for [@dog, @log] do |form| %>
    <%= form.error_notification %>

    <div class="form-inputs">
    <%= form.input :food,
                    as: :check_boxes,
                    collection_wrapper_tag: 'div',
                    collection_wrapper_class: 'log-wrapper',
                    item_wrapper_class: 'log-item',
                    input_html: {class: 'log-selector'},
                    collection: Log::FOOD %>

    <%= form.input :medication,
                    as: :check_boxes,
                    collection_wrapper_tag: 'div',
                    collection_wrapper_class: 'log-wrapper',
                    item_wrapper_class: 'log-item',
                    input_html: {class: 'log-selector'},
                    collection: Log::MEDICATION %>

    <%= form.input :special_treat,
                    as: :check_boxes,
                    collection_wrapper_tag: 'div',
                    collection_wrapper_class: 'log-wrapper',
                    item_wrapper_class: 'log-item',
                    input_html: {class: 'log-selector'},
                    collection: Log::SPECIAL_TREAT %>

    <%= form.input :grooming,
                    as: :check_boxes,
                    collection_wrapper_tag: 'div',
                    collection_wrapper_class: 'log-wrapper',
                    item_wrapper_class: 'log-item',
                    input_html: {class: 'log-selector'},
                    collection: Log::GROOMING %>

    <%= form.input :stool,
                    as: :check_boxes,
                    collection_wrapper_tag: 'div',
                    collection_wrapper_class: 'log-wrapper',
                    item_wrapper_class: 'log-item',
                    input_html: {class: 'log-selector'},
                    collection: Log::STOOL %>

    <%= form.input :vaccination,
                    as: :check_boxes,
                    collection_wrapper_tag: 'div',
                    collection_wrapper_class: 'log-wrapper',
                    item_wrapper_class: 'log-item',
                    input_html: {class: 'log-selector'},
                    collection: Log::VACCINATION %>

    <%= form.input :mood,
                    as: :check_boxes,
                    collection_wrapper_tag: 'div',
                    collection_wrapper_class: 'log-wrapper',
                    item_wrapper_class: 'log-item',
                    input_html: {class: 'log-selector'},
                    collection: Log::MOOD %>

    <%= form.input :energy,
                    as: :check_boxes,
                    collection_wrapper_tag: 'div',
                    collection_wrapper_class: 'log-wrapper',
                    item_wrapper_class: 'log-item',
                    input_html: {class: 'log-selector'},
                    collection: Log::ENERGY %>

    <%= form.input :training,
                    as: :check_boxes,
                    collection_wrapper_tag: 'div',
                    collection_wrapper_class: 'log-wrapper',
                    item_wrapper_class: 'log-item',
                    input_html: {class: 'log-selector'},
                    collection: Log::TRAINING %>
    </div>

    <div class="container d-flex justify-content-between form-actions" id="nav-btn">
      <span><%= form.submit "Create log", class: 'dgreen-button'%></span>
    </div>
  <% end %>

</div>
