<div class="parent container d-flex flex-column h-100">

  <h1>Add a new log for <%= @dog.name %></h1>

  <%= simple_form_for [@dog, @log] do |form| %>
    <%= form.error_notification %>

    <div class="form-inputs">
      <%= form.input :food, as: :check_boxes%>
      <%= form.input :medication %>
      <%= form.input :special_treat %>
      <%= form.input :grooming %>
      <%= form.input :stool %>
      <%= form.input :vaccination %>
      <%= form.input :mood %>
      <%= form.input :energy %>
      <%= form.input :training %>
    </div>

    <div class="form-actions" id="nav-btn">
      <p><%= form.submit "Create log", class: 'btn btn-primary'%></p>
      <p><%= link_to 'Back', dog_logs_path %></p>
    </div>
  <% end %>

</div>
