<!DOCTYPE html>
<html>
  <head>
    <title>Paws</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<!--    <meta name="csrf-token" content="<%#= csrf_meta_tags %>">-->
    <meta name="csrf-token" content="csrf_meta_tags">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>
  </body>
</html>
